﻿ .responsive-table {
        margin-top: 10px;
    }
            .responsive-table tr th {
            color: white;
            text-align: center;
            text-transform: none;
            background-color: #ce1f2c;
        }

        .responsive-table tr th {
            padding: 15px 20px;
            font-weight: 700;
            line-height: 1.1;
            text-transform: uppercase;
            font: normal 14px/18px 'mtel_textbold', Tahoma, sans-serif;
            border-right: 1px solid #e6e6e6;
        }

    .stock {
        float: none;
    }

    .show_on_cash_without_contract {
        width: 230px;
    }

    .tabs-menu {
        height: 30px;
        float: left;
        clear: both;
    }


        .tabs-menu li {
            height: 30px;
            line-height: 30px;
            float: left;
            margin-right: 10px;
            background-color: #ccc;
            border-top: 1px solid #d4d4d1;
            border-right: 1px solid #d4d4d1;
            border-left: 1px solid #d4d4d1;
        }

            .tabs-menu li.current {
                position: relative;
                background-color: #fff;
                border-bottom: 1px solid #fff;
                z-index: 5;
            }

            .tabs-menu li a {
                padding: 10px;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
            }

        .tabs-menu .current a {
            color: #2e7da3;
        }

    .tab {
        border: 1px solid #d4d4d1;
        background-color: #fff;
        float: left;
        margin-bottom: 20px;
        width: auto;
    }

    .tab-content {
        width: 100%;
        padding: 20px;
        display: none;
    }

    #tab-1 {
        display: block;
    }

    /*.plan-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

    .plan-item span.title {
    margin-left: 0;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #7d7d7d;
}

     .plan-item > .info {
    margin: 0 0 0 1px!important;
    position: relative!important;
    background-position: -31px -222px;
}*/

 