﻿<div  style="margin-top:50px;" class="modal fade" tabindex="-1" role="dialog" id="choicePlanModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Offer </h4>
            </div>

            <div class="modal-footer">
                <h5>Please select an offer for the purchase of this device / tariff plan:</h5>
                <button type="button" class="btn btn-danger" onclick="PTSimple.selectChoice(0);">New Service</button>
                <button type="button" class="btn btn-danger" onclick="PTSimple.selectChoice(1);">Change of plan</button>
                <button type="button" class="btn btn-danger" onclick="PTSimple.selectChoice(2);">Prima to subscription</button>
            </div>
        </div>
    </div>
</div>