﻿@model Nop.Plugin.Misc.AvenirTelecom.Models.AvenirTelecomMonthlyPlanModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.CategoryImage").Text;
}
<style>
    #CategoryName {
        border: none;
    }
</style>


@Html.HiddenFor(model => model.ProductId)
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.Plugin.Misc.AvenirTelecom.Product.MonthlyPlan.List")  - <a href="/Plugin/Misc/AvenirTelecom/List">(@T("Admin.Plugin.Misc.AvenirTelecom.Product.MonthlyPlan.BackToList"))</a>
    </div>
    <div class="options">
        <a href='@string.Format("/Plugin/Misc/AvenirTelecom/IndividualPlanCreate/{0}", Model.ProductId)' class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<p>Product Name : <b>  @Model.ProductName </b></p>

<div>
    <div id="monthlyplan-grid"></div>
    <script>
        $(document).ready(function () {
            $("#monthlyplan-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("MonthlyPlanList", "AvenirTelecomMonthPlan", new { productId = Model.ProductId, area = "" }))",
                            type: "POST",
                            dataType: "json"
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("UpdateMonthlyPlan", "AvenirTelecomMonthPlan", new { area = "" }))",
                            type: "POST",
                            dataType: "json"
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("DeleteMonthlyPlan", "AvenirTelecomMonthPlan", new { id = Model.Id, area = "" }))",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                SubscriptionType: { editable: false, type: "string" },
                                PriceTypeName: { editable: false, type: "string" },
                                SubscriptionPlan: { editable: false, type: "string" },
                                CashPriceForDevice: { editable: true, type: "decimal" },
                                MonthlyFeeForSubscription: { editable: true, type: "decimal" },
                                SetAsDefaultPlan: { editable: true, type: "boolean" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type == "update") {
                            this.read();
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                dataBound: onDataBound,
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "SubscriptionType",
                        title: "Subscription Type",
                        width: 200
                    },
                    {
                        field: "PriceTypeName",
                        title: "@T("Price type Name")",
                        width: 200
                    },
                    {
                        field: "SubscriptionPlan",
                        title: "@T("Admin.Misc.AvenirTelecom.Fields.SubscriptionItemName")",
                        width: 200
                    },
                    {
                        field: "MonthlyFeeForSubscription",
                        title: "@T("Admin.Misc.AvenirTelecom.Fields.MonthlyFeeForSubscription")",
                        width: 200
                    },
                    {
                        field: "CashPriceForDevice",
                        title: "@T("Admin.Misc.AvenirTelecom.Fields.CashPriceForDevice")",
                        width: 200
                    },
                      {
                          field: "SetAsDefaultPlan",
                          title: "@T("Set As Default Plan")",
                          width: 200
                      },
                    {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        },
                        {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
            });
        });
    </script>
    <script type="text/javascript">

        function onDataBound(e) {
            //if ($('#monthlyplan-grid img').length > 0) {
            //    $("#changeCategoryColor").css("display", "block");
            //}
        }
    </script>
</div>
