﻿@model Nop.Plugin.Misc.AvenirTelecom.Models.ProductListModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.AvenirTelecom").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.Plugin.Misc.AvenirTelecom.DefaultSeeds.List") 
    </div>
    <div class="options">
        <a href="/AvenirTelecomMonthPlan/PlanSeedCreate" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            <div id="products-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#products-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("PlanSeedListJson", "AvenirTelecomMonthPlan", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                },
                                parameterMap: function(data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        SubscriptionPlan: { editable: false, type: "string" },
                                        MonthlyFeeForSubscription: { editable: false, type: "number" },
                                        PricePaymentDevice: { editable: false, type: "number" },
                                        PriceType: { editable: false, type: "string" },                                       
                                        SubscriptionType: { editable: false, type: "string" }
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        //toolbar: ["save", "cancel"],
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "SubscriptionPlan",
                                 title: "SubscriptionPlan",
                                 width: 50
                             },
                            {
                                field: "MonthlyFeeForSubscription",
                                title: "MonthlyFeeForSubscription",
                                width: 50
                            },
                            {
                                field: "PricePaymentDevice",
                                title: "PricePaymentDevice",
                                width: 50
                            },
                            {
                                field: "PriceType",
                                title: "PriceType",
                                width: 50
                            },
                            {
                                field: "SubscriptionType",
                                title: "SubscriptionType",
                                width: 50,
                            },
                             {
                                 field: "Id",
                                 title: "Edit",
                                 width: 50,
                                 template: '<a href="PlanSeedEdit/?Id=#=Id#" class="k-button">@T("Admin.Common.Edit")</a>'
                             }
                             ,
                             {
                                 field: "Id",
                                 title: "Delete",
                                 width: 50,
                                 template: '<a href="PlanSeedDelete/?Id=#=Id#" class="k-button">@T("Admin.Common.Delete")</a>'
                             }
                        ]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {
                    $('#btnSearch').click(function () {
                        var grid = $('#products-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                        grid.refresh();
                        return false;
                    });
                });

                function additionalData()
                {
                    var data = {
                        CategoryId:$("#CategoryId").val(),
                        SearchIncludeSubCategories:true
                    };
                    //addAntiForgeryToken(data);
                    return data;
                }

            </script>
        </td>
    </tr>
</table>
