﻿@model Nop.Plugin.Misc.AvenirTelecom.Domain.PlanForSeed
@using Nop.Web.Framework

@{  
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";  
    ViewBag.Title = T("Admin.Plugins.PlanEntry").Text;
    var test = Model.AvailableTopics;
    //Html.AddScriptParts("~/Plugins/Misc.AvenirTelecom/Content/js/jscolor.min.js");
}

<div>
        @using (Html.BeginForm())
            {
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
                    @T("Admin.Plugin.Misc.AvenirTelecom.DefaultSeeds.Create") <a href="/AvenirTelecomMonthPlan/PlanSeedList">(@T("Admin.Plugin.Misc.AvenirTelecom.DefaultSeeds.BackToList"))</a>
                </div>
            </div>

            <table class="adminContent">

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(m => m.SubscriptionPlan)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.SubscriptionPlan)
                        @Html.ValidationMessageFor(m => m.SubscriptionPlan)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(m => m.TopicId)

                    </td>
                    <td class="adminData">
                        @Html.DropDownList("TopicId", Model.AvailableTopics)
                        @Html.ValidationMessageFor(m => m.TopicId)
                    </td>
                    
                </tr>

                <tr>
                    <td class="adminTitle">
                        Subscription Type
                    </td>
                    <td class="adminData">
                        @Html.EnumDropDownListFor(m => m.SubscriptionType, "Select Subscription Type")
                    </td>
                </tr>


                <tr>
                    <td class="adminTitle">
                        Price Type
                    </td>
                    <td class="adminData">
                        @Html.EnumDropDownListFor(m => m.PriceType, "Select Price Type")
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(m => m.MonthlyFeeForSubscription)
                    </td>
                    <td class="adminData">
                        @Html.TextAreaFor(m => m.MonthlyFeeForSubscription)
                        @Html.ValidationMessageFor(m => m.MonthlyFeeForSubscription)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(m => m.PricePaymentDevice)
                    </td>
                    <td class="adminData">
                        @Html.TextAreaFor(m => m.PricePaymentDevice)
                        @Html.ValidationMessageFor(m => m.PricePaymentDevice)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(m => m.IsActive)
                    </td>
                    <td class="adminData">
                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </td>
                </tr>

                <tr>
                    <td class="adminData">
                        <input type="submit" class="k-button" value="Create"/>
                    </td>
                </tr>
            </table>


        }
</div>









