﻿@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Mvc;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //Common Script
    Html.AddScriptParts("~/Plugins/Misc.AvenirTelecom/scripts/AppConstants.js");

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}

<!--product breadcrumb-->
@Html.Widget("right_side_column_after")
@Html.Widget("productdetails_top", Model.Id)
@Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">

    <div class="page-body">



        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-name">
                    <h1 itemprop="name">
                        @Model.Name
                    </h1>
                </div>
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures", Model.Id)

                    @{
            var cloudZoom = Html.Widget("sevenspikes_cloud_zoom");
                    }
                    @if (!MvcHtmlString.IsNullOrEmpty(cloudZoom))
                    {
                        @cloudZoom
                    }
                    else
                    {
                        @Html.Partial("_ProductDetailsPictures", Model)
                    }

                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview">

                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">

                                <a class="popup-with-zoom-anim" href="#small-dialog"><h3> @Html.Raw(Model.ShortDescription)<h3></a>
                                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">

                                    <p><center><span style="font-size:15px;">За да закупите продукт с абонамент или на лизинг, моля посетете наш офис. <br>Информация за търговската ни мрежа ще откриете </span><a href="/търговска-мрежа-2"><span style="color:#00b9f0; font-size:15px;">ТУК.<br><center><img src="/content/images/thumbs/0000181.png"></img></center></span></a></center></p>
                                </div>



                                <script>
                                    $(document).ready(function () {
                                        $('.popup-with-zoom-anim').magnificPopup({
                                            type: 'inline',

                                            fixedContentPos: false,
                                            fixedBgPos: true,

                                            overflowY: 'auto',

                                            closeBtnInside: true,
                                            preloader: false,

                                            midClick: true,
                                            removalDelay: 300,
                                            mainClass: 'my-mfp-zoom-in'
                                        });

                                        $('.popup-with-move-anim').magnificPopup({
                                            type: 'inline',

                                            fixedContentPos: false,
                                            fixedBgPos: true,

                                            overflowY: 'auto',

                                            closeBtnInside: true,
                                            preloader: false,

                                            midClick: true,
                                            removalDelay: 300,
                                            mainClass: 'my-mfp-slide-bottom'
                                        });
                                    });
                                </script>
                                <font style="font-weight:bold;">Цена без абонамент:</font>
                            </div>
                        }
                        @if (String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description"></div>
                        }

                        @Html.Widget("productdetails_overview_top", Model.Id)

                        <!--Back in stock subscription-->
                        @Html.Partial("_BackInStockSubscription", Model)
                        <!--product manufacturers-->
                        @*Html.Partial("_ProductManufacturers", Model.ProductManufacturers)*@
                        <!--product reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--sample download-->
                        @Html.Partial("_DownloadSample", Model)
                        <!--attributes-->
                        @{
                        var dataDictAttributes = new ViewDataDictionary();
                        dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                        @Html.Partial("~/Plugins/Misc.AvenirTelecom/Views/AvenirTelecomView/_ProductAttributes.cshtml", Model.ProductVariantAttributes, dataDictAttributes)
                        }
                        <!--price & add to cart-->
                        <div class="cart-info">
                            @{
                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                        <input type="button" id="btnChoose" class="button-1 add-to-cart-button" style="padding-top: 7px;" value="Choose Plan">



                        var dataDictPrice = new ViewDataDictionary();
                        dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                        @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                            }

                        </div>

                        <div class="buttons">
                            @Html.Partial("_ProductAddToWishlistButton", Model.AddToCart)

                            @Html.Partial("_CompareProductsButton", Model)

                            @Html.Partial("_ProductEmailAFriendButton", Model)
                            <!--product SKU, manufacturer part number, stock info-->
                            @Html.Partial("_SKU_Man_Stock", Model)
                            @Html.Partial("_ShareButton", Model)
                        </div>

                        @Html.Widget("productdetails_overview_bottom", Model.Id)

                        @{
            var widget2Html = Html.Action("RelatedProducts", "Product", new { productId = Model.Id });
                        }

                        @if (MvcHtmlString.IsNullOrEmpty(widget2Html))
                        {
                            @Html.Widget("suggested_product", Model.Id)
                        }
                        else
                        {
                            @Html.Widget("right_side_column_before", Model.Id)
                        }


                    </div>

                    @if (!String.IsNullOrEmpty(Model.FullDescription))
                    {
                        <div class="full-description" itemprop="description">
                            @Html.Raw(Model.FullDescription)


                        </div>
                    }
                    <!--gift card-->
                    @{
                    var dataDictGiftCard = new ViewDataDictionary();
                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                    @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                    }
                </div>
                @Html.Widget("productdetails_before_collateral", Model.Id)
                    @Html.Partial("~/Plugins/Misc.AvenirTelecom/Views/AvenirTelecomView/_AddToCart.cshtml", Model.AddToCart, dataDictAddToCart)
                <div class="product-collateral">
                    @Html.Partial("_ProductTierPrices", Model.TierPrices)
                    @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                    @Html.Partial("_ProductTags", Model.ProductTags)
                    @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                    @*Html.Action("RelatedProducts", "Product", new { productId = Model.Id })*@
                </div>
            </div>
        }
        @Html.Widget("productdetails_bottom", Model.Id)
    </div>
    @Html.Partial("~/Plugins/Misc.AvenirTelecom/Views/AvenirTelecomView/_ChoiceModal.cshtml")
</div>

<link href="~/Plugins/Misc.AvenirTelecom/styles/pt.simple.css" rel="stylesheet"/>
<link href="~/Plugins/Misc.AvenirTelecom/styles/speechbubbles.css" rel="stylesheet" />
<link href="~/Plugins/Misc.AvenirTelecom/content/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Plugins/Misc.AvenirTelecom/content/bootstrap-3.2.0/css/bootstrap-theme.css" rel="stylesheet" />
<script src="~/Plugins/Misc.AvenirTelecom/content/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script src="~/Plugins/Misc.AvenirTelecom/scripts/pt.simple.js"></script>
<script src="~/Plugins/Misc.AvenirTelecom/scripts/speechbubbles.js"></script>

<script>
    window.productId = '@ViewBag.productId';
</script>